body{
    background-color: #0c0b0c;
}

.bg{
    position: fixed;
    top: 0;
    z-index: -1;
    transform: translate(0px);
    animation: float 5s ease-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cabecalho h1{
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    color: #FFE7CB;
    padding-top: 20px;
    font-weight: 100;
}

.cabecalho img{
    margin-top: 20px;
    width: 60px;
}

.menu-cardapio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 150px;
}

.menu-cardapio h2{
    color: #C9B23A;
    padding-top: 48px;
    padding-bottom: 25px;
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Sedan SC', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

.container-diasemana{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-prato{
    display: flex;
    
}

.container-prato img{
    width: 120px;
    height: 120px;
    margin-right: 15px;
}

.container-nome-preco{
    width: 400px;
    padding-top: 4px;
}

.nome-prato-preco{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome-prato-preco h3{
    color: #FFE7CB;
    font-family: 'Sedan SC', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.nome-prato-preco .linha{
    width: 90px;
    height: 6px;
    margin: 0 8px;
    background: none;
    border-top: 2px solid #FFE7CB;
    border-bottom: 2px solid #FFE7CB;
}

.nome-prato-preco .linha-panela{
    width: 120px;
}

.nome-prato-preco .linha-role{
    width: 155px;
}

.nome-prato-preco .linha-lasanha{
    width: 50px;
}

.nome-prato-preco .linha-panqueca{
    width: 65px;
}

.nome-prato-preco .linha-peixe{
    width: 150px;
}

.descricao-pratos p{
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #FFE7CB;
    padding-top: 7px;
    letter-spacing: 2px;
}

.coluna{
    width: 0px;
    border-left: 1px solid #ffffff;
    margin: 0 30px;
}

.menu-cardapio .espacamento{
    margin-top: 60px;
}

.container-pratos-duas-colunas{
    display: flex;
    flex-direction: column;
}

.prato-duas-colunas{
    margin-top: 30px;
}

.caixa-invisivel{
    width: 530px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-peca-agora{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 51px;
    border: 2px solid #FFE7CB;
    color: #000000;
    border-radius: 8px;
    margin: 60px 0 20px;
    font-size: 22px;
    font-family: 'Sedan SC', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;    
}

.btn-peca-agora:hover{
    background: #FFE7CB;
    animation: btn 5s ease-out infinite;
}


/* STYLE CARDAPIO PRATOS COMERCIAIS */


.container-prato-comercial{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

.coluna-pratos-comerciais{
    width: 0px;
    border-left: 1px solid #ffffff;
    margin: 0 30px;
}

.btn-peca-agora-pratos-comerciais{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 51px;
    border: 2px solid #FFE7CB;
    color: #000000;
    border-radius: 8px;
    font-size: 22px;
    font-family: 'Sedan SC', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;    
    margin-bottom: 30px;
}

.btn-peca-agora-pratos-comerciais:hover{
    background: #FFE7CB;
    animation: btn 5s ease-out infinite;
}